.header {
    border-bottom-color: rgb(0, 0, 0);
    border-bottom-style: solid;
    border-bottom-width: 5px;
}

.onceit-logo {
    width: 336;
    height: 40px;
    margin: 25px;
}

.main {
    height: 350px;
    background-color: rgb(230, 230, 230);
    border-bottom-color: rgb(0, 0, 0);
    border-bottom-style: solid;
    border-bottom-width: 5px;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
}

.title {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    margin: auto;
    margin-bottom: 0px;
    margin-top: 0px;
}

.title-text {
    color: rgb(0, 0, 0);
    font-size: 70px;
    font-family: Avenir Next Condensed;
    white-space: nowrap;
}

.afterpay-logo {
    height: 70px;
    margin-top: 20px;
    margin-left: 10px;
}

.subtitle-text {
    color: rgb(0, 0, 0);
    font-size: 40px;
    font-family: Avenir Next Condensed;
    white-space: nowrap;
}

.basic-info {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
}

.info {
    margin-top: 45px;
    margin-bottom: 40px;
    font-family: Arial;
    font-size: 20px;
    color: rgb(0, 0, 0);
}

.details {
    border-top-color: rgb(0, 0, 0);
    border-top-style: solid;
    border-top-width: 5px;
    font-family: Arial;
    font-size: 20px;
    border-bottom-color: rgb(0, 0, 0);
    border-bottom-style: solid;
    border-bottom-width: 5px;
    display: flex;
    justify-content: space-around
}

.column {
    margin-top: 50px;
    margin-bottom: 50px;
    color: rgb(0, 0, 0);
}

.shopping {
    width: 100%;
    font-family: Arial;
    font-size: 30px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
}

.shopping-heading {
    color: rgb(0, 0, 0);
    font-size: 50px;
    font-family: Avenir Next Condensed;
    margin: auto;
    margin-top: 30px;
}

.placeholder-sales {
    height: 300px;
    width: 300px;
    background-color: rgb(230, 230, 230);
    border-radius: 5px;
    margin: auto;
    margin-top: 20px;
}

.shopping-button {
    width: 300px;
    margin: auto;
    margin-top: 30px;
    margin-bottom: 50px;
    color: rgb(0, 0, 0);
    border-radius: 3px;
    border-style: solid;
    border-width: 2px;
    border-color: rgb(0, 0, 0);
}

.shopping-button:hover {
    border-color: rgb(152, 152, 152);
    text-decoration-line: none;
    color: initial;
}

.credit {
    background-color: rgb(0, 0, 0);
    color: gray;
    text-align: right;
    font-size: 10px;
}

.credit-links,
.credit-links:hover {
    color: gray;
    text-decoration-line: none;
}